body {
    font-family: 'Inter', 'sans-serif';
}

.container {
    width: 1200px; /*Largura */
    margin: 0px auto; /*opx para cima e automatica nas laterais*/

}

.flex{
    display: flex;
    flex-direction: row; /*Direção das caixas na horizontal*/
}

header .flex{
    justify-content: space-between; /*Espaço entre no cabeçalho*/
}