body {
    font-family: 'Inter', 'sans-serif';
}

.txt-orange{
    color: orangered;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px; /*Largura */
    margin: 0px auto; /*opx para cima e automatica nas laterais*/
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.flex{
    display: flex;
    flex-direction: row; /*Direção das caixas na horizontal*/
}


header .flex{
    justify-content: space-between; /*Espaço entre no cabeçalho*/
    padding: 20px 50px;
    align-content: center;
}

header .carrinho a {
    color: #202020;
    text-decoration: none;
    vertical-align: middle;
}

.carrinho{
    /*FODA-SE*/
}

nav{
    background-color: #202020;
}

nav .flex{
    justify-content: space-between;
    padding: 20px 0px;
}

nav a{
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}

.banner{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

main h1{
    font-size: 48px;
    margin-left: 35px;
}


.flex-produtos{
    display: flex;
    flex-direction: row; /*Direção das caixas na horizontal*/
    justify-content: center;
    flex-wrap: wrap;
    /* margin: 0 0; */
}

.child{
    height: auto;
    border: 1px solid grey;
    margin: 15px 7px;     
    padding: 5px;
    align-items: center; 
    text-align: center;   
}

.img-prod{
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

[small] {
    font-weight: 50;
}

.content-prod{
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    font-size: large;
}

.content-prod button {
    /* position: relative; */
    background-color: orangered;
    padding: 10px 25px;
    color: #FFF;
    border-radius: 5px;
    margin: 10px auto;
}

.marcas{
    margin: 70px auto 50px auto;
    justify-content: space-between;
}

footer{
    height: 350px;
    width: auto;
    background-color: #202020;
    padding: 70px;
    justify-content: space-between;
}

footer .container .flex{
    position: relative;
    color: #FFF;
    justify-content: space-between;
    flex-direction: row;
    top: 50%;
}