.container{
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.child{
    width: 300px;
    height: 300px;
    margin: 5px 2px;
    padding: 0px;
}

#red{
    background-color: red;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

#violet{
    background-color: violet;
}

#yellow{
    background-color: yellow;
} 

#black{
    background-color: #202020;
}